@import "vars.less";
@import "lib/semantic-ui/themes/default/globals/site.variables.import.less";

////////// mixins //////////

.aspect-ratio(@width; @height) {

    padding-top: ((@height/2) / @width) * 100%;
 

}

////////// styles //////////

a {
    font-weight: bold;
}

main {
    margin-top: @nav-height;

    section {
        min-height: @segment-min-height;
        display: flex;
        justify-content:center;
        align-items:center;

        &#home-section {
            //.aspect-ratio(16, 9);

            .bg {
                top: @nav-height;
                left: 0;
                width: 100%;
                position: fixed;
                background-image: url(@home-bg-url);
                -webkit-transform: translateZ(0);
                pointer-events: none;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-color: white;
                z-index: -1;
                opacity: 1;
                min-height: @segment-min-height;
                //.aspect-ratio(16, 9);
            }

            h1 {
                font-size: 3.5rem;
            }
        }

        &#portfolio-section {
            background-color: @tan;

            .card {
                .header {
                    display: inline-block;
                }

                .image {
                    text-align: center;

                    i.icon {
                        font-size: 7em;
                        margin: -16px 0;
                        width: auto;
                        height: auto;
                        line-height: 2em;
                    }
                }
            }
        }

        &#about-section {
            background-color: #383838;
            background-image: url(@about-bg-url);
        }

        &#contact-section {
            background-color: #DFDFDD;
        }
    }
}