a {
    font-weight: bold;
}

main {
    margin-top: 45px;
}

main section {
    min-height: 450px;
    display: flex;
    justify-content:center;
    align-items:center;
}

section#home-section .bg {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: fixed;
    background-image: url("/images/coffee-2800-1600.jpg");
    -webkit-transform: translateZ(0);
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 120% 50%;
    background-color: white;
    z-index: -1;
    opacity: 1;
}

section#home-section h1 {
    font-size: 3.5rem;
}

section#portfolio-section {
    background-color: #DED7C3;
    /*
    background-image: url("/images/textures/stardust_tan.png");
*/
}

section#portfolio-section .card .image i.icon {
    font-size: 7em;
    margin: -16px 0;
    width: auto;
    height: auto;
    line-height: 2em;
}

section#portfolio-section .card .header {
    display: inline-block;
}

section#about-section {
    background-color: black;
    background-image: url("/images/textures/darkdenim3.png");
}

section#contact-section {
    background-color: #DFDFDD;
   /* 
    background-image: url("/images/textures/twinkle_twinkle.png");
*/
}